.logo-text {
  text-transform: uppercase;
  font-size: rem-calc(35);
  color: $green;
  letter-spacing: 0.5px;
  position: fixed;
  top: 20px;
  left: 20px;
  padding-bottom: 10px;
  border-bottom: 10px solid $greenMed;
  display: block;
}