.sticky-nav-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;

  .sticky-nav {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .nav-buttons {
    margin: 0;
    list-style: none;
    text-align: center;
  }

  li {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: scale-color($green, $lightness: -15%);
    font-size: rem-calc(20);
    position: relative;
    margin: 0 7px;
    &.hidden {
      display: none;
    }

    [class*="fontawesome-"] {
      position: absolute;
      @include centerAll;
      color: $black;
    }

    &:hover {
      background-color: scale-color($aqua, $lightness: -15%);
      [class*="fontawesome-"] {
        position: absolute;
        @include centerAll;
        color: $white;
      }
    } 
  }
}

@media #{$small-only} {
  .sticky-nav-container {
    li {
      display: inline-block;
    }
  }
}

@media #{$medium-up} {
  
  .sticky-nav-container {
    height: 100%;
    width: 100px;
    .nav-container {
      position: absolute;
      @include centerAll;
    }
    li {
      width: 55px;
      height: 55px;
      font-size: rem-calc(25);
      margin: 10px 0;
    }
  }
  
}