<nav class="sticky-nav-container">
  <div class="sticky-nav">
    <nav class="nav-container">
      <ul class="nav-buttons">
        <li class="menu-toggle"><i class="fontawesome-circle"></i></li>
        <li><a href="/"><i class="fontawesome-home"></i></a></li>
        <li><a href="work"><i class="fontawesome-th"></i></a></li>
        <li><a href="/about"><i class="fontawesome-user"></i></a></li>
        <li><a href="/contact"><i class="fontawesome-envelope-alt"></i></a></li>
      </ul>
    </nav>
  </div>
</nav>  
