.view-outer-container {
  width: 100%;
}

.view-wrapper {
  margin-top: 120px;
}

@media #{$medium-up} {
  .view-outer-container {
    text-align: right;
    background-image: url('/images/bg.png');
    background: {
      repeat: no-repeat;
      size: cover;
      attachment: fixed;
    }
  }
  .view-wrapper {
    width: calc(100% - 100px);
    text-align: left;
    display: inline-block;
    margin-top: 25px; // temporary;
  }
}


// Home styles

.recent-work {
  //padding: 15px;
  //border: 1px solid rgba($green, 0.8);
  li {

    background-color: rgba($magentaDark, 0.4);
    &.light {
      background-color: rgba($magentaLight + 20, 0.3);
    }
    &:hover {
        background-color: rgba($greenMed, 0.8);
       
    }
  }
}

.basic-info-box {
  background-color: rgba($black, 0.7);
  width: 100%;
  min-height: 520px;
}