<div class="medium-11 large-3 large-push-1 columns">
  <div class="basic-info-box">
    <div class="image">
      &nbsp;
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, ea.</p>

  </div>
</div>
<div class="medium-11 large-7 medium-pull-1 columns">
  
  <ul class="recent-work small-block-grid-1 medium-block-grid-2">
    <li>
      <img src="/images/showcase/cpd-responsive-showcase.png" alt="">
    </li>

    <li class="light">
      <img src="/images/showcase/cpd-responsive-showcase.png" alt="">
    </li>

    <li class="light">
      <img src="/images/showcase/cpd-responsive-showcase.png" alt="">
    </li>

    <li>
      <img src="/images/showcase/cpd-responsive-showcase.png" alt="">
    </li>

    <li>
      <img src="/images/showcase/cpd-responsive-showcase.png" alt="">
    </li>

    <li class="light">
      <img src="/images/showcase/cpd-responsive-showcase.png" alt="">
    </li>


  </ul>

</div>