<div class='rsp-container'>
  <div class='col4'>
    <div class='image'>
      <img alt='Tower Bridge' height='213' src='http://farm9.staticflickr.com/8553/8750628409_d53f7f6a9e_n.jpg' width='320'>
    </div>
    <div class='copy'>
      <h3>This is Tower Bridge</h3>
      <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>
        <a href='http://www.flickr.com/photos/ramm/8750628409/'>View photo</a>
      </p>
    </div>
    <div class='clear'></div>
  </div>
  <div class='col4'>
    <div class='image'>
      <img alt='London Eye' height='213' src='http://farm4.staticflickr.com/3725/8751751670_e25b525e86_n.jpg' width='320'>
    </div>
    <div class='copy'>
      <h3>This is the London Eye</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>
        <a href='http://www.flickr.com/photos/ramm/8751751670/'>View photo</a>
      </p>
    </div>
    <div class='clear'></div>
  </div>
  <div class='col4'>
    <div class='image'>
      <img alt='Big Ben' height='213' src='http://farm9.staticflickr.com/8136/8751754294_1773a45fba_n.jpg' width='320'>
    </div>
    <div class='copy'>
      <h3>This is the Big Ben</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p>
        <a href='http://www.flickr.com/photos/ramm/8751754294/'>View photo</a>
      </p>
    </div>
    <div class='clear'></div>
  </div>
</div>