<div class="medium-10 medium-push-1 columns">

  <ul class="recent-work small-block-grid-1 medium-block-grid-2">
    <li>
      <img src="/images/showcase/cpd-responsive-showcase.png" alt="">
    </li>

    <li class="light">
      <img src="/images/showcase/cpd-responsive-showcase.png" alt="">
    </li>

    <li class="light">
      <img src="/images/showcase/cpd-responsive-showcase.png" alt="">
    </li>

    <li>
      <img src="/images/showcase/cpd-responsive-showcase.png" alt="">
    </li>

  </ul>


</div>